In [1]:
import os 
os.listdir('/kaggle/input/')

['ieee-fraud-detection']

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings

warnings.filterwarnings("ignore")

df_train_id = pd.read_csv('/kaggle/input/ieee-fraud-detection/train_identity.csv')
df_train_txn = pd.read_csv('/kaggle/input/ieee-fraud-detection/train_transaction.csv')
df_test_id = pd.read_csv('/kaggle/input/ieee-fraud-detection/test_identity.csv')
df_test_txn = pd.read_csv('/kaggle/input/ieee-fraud-detection/test_transaction.csv')

df_sample = pd.read_csv('/kaggle/input/ieee-fraud-detection/sample_submission.csv')

In [3]:
df_train_id.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS

In [4]:
df_train_txn.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df_test_id.head()

,TransactionID,id-01,id-02,id-03,id-04,id-05,id-06,id-07,id-08,id-09,...,id-31,id-32,id-33,id-34,id-35,id-36,id-37,id-38,DeviceType,DeviceInfo
0,3663586,-45.0,280290.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,chrome 67.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,MYA-L13 Build/HUAWEIMYA-L13
1,3663588,0.0,3579.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 67.0 for android,24.0,1280x720,match_status:2,T,F,T,T,mobile,LGLS676 Build/MXB48T
2,3663597,-5.0,185210.0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,...,ie 11.0 for tablet,NaN,NaN,NaN,F,T,T,F,desktop,Trident/7.0
3,3663601,-45.0,252944.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 67.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,MYA-L13 Build/HUAWEIMYA-L13
4,3663602,-95.0,328680.0,NaN,NaN,7.0,-33.0,NaN,NaN,NaN,...,chrome 67.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,SM-G9650 Build/R16NW

In [6]:
df_test_txn.head()

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,3663549,18403224,31.95,W,10409,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3663550,18403263,49.00,W,4272,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3663551,18403310,171.00,W,4476,574.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3663552,18403310,284.95,W,10989,360.0,150.0,visa,166.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3663553,18403317,67.95,W,18018,452.0,150.0,mastercard,117.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print("Full Train Set")
df_train = pd.merge(df_train_txn, df_train_id, on = 'TransactionID', how = 'left' )
df_train.head()

Full Train Set

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [8]:
print("Full Test Set")
df_test = pd.merge(df_test_txn, df_test_id, on = 'TransactionID', how = 'left')
df_test.head()

Full Test Set

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id-31,id-32,id-33,id-34,id-35,id-36,id-37,id-38,DeviceType,DeviceInfo
0,3663549,18403224,31.95,W,10409,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3663550,18403263,49.00,W,4272,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3663551,18403310,171.00,W,4476,574.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3663552,18403310,284.95,W,10989,360.0,150.0,visa,166.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3663553,18403317,67.95,W,18018,452.0,150.0,mastercard,117.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print("\n".join(df_test.columns))

TransactionID
TransactionDT
TransactionAmt
ProductCD
card1
card2
card3
card4
card5
card6
addr1
addr2
dist1
dist2
P_emaildomain
R_emaildomain
C1
C2
C3
C4
C5
C6
C7
C8
C9
C10
C11
C12
C13
C14
D1
D2
D3
D4
D5
D6
D7
D8
D9
D10
D11
D12
D13
D14
D15
M1
M2
M3
M4
M5
M6
M7
M8
M9
V1
V2
V3
V4
V5
V6
V7
V8
V9
V10
V11
V12
V13
V14
V15
V16
V17
V18
V19
V20
V21
V22
V23
V24
V25
V26
V27
V28
V29
V30
V31
V32
V33
V34
V35
V36
V37
V38
V39
V40
V41
V42
V43
V44
V45
V46
V47
V48
V49
V50
V51
V52
V53
V54
V55
V56
V57
V58
V59
V60
V61
V62
V63
V64
V65
V66
V67
V68
V69
V70
V71
V72
V73
V74
V75
V76
V77
V78
V79
V80
V81
V82
V83
V84
V85
V86
V87
V88
V89
V90
V91
V92
V93
V94
V95
V96
V97
V98
V99
V100
V101
V102
V103
V104
V105
V106
V107
V108
V109
V110
V111
V112
V113
V114
V115
V116
V117
V118
V119
V120
V121
V122
V123
V124
V125
V126
V127
V128
V129
V130
V131
V132
V133
V134
V135
V136
V137
V138
V139
V140
V141
V142
V143
V144
V145
V146
V147
V148
V149
V150
V151
V152
V153
V154
V155
V156
V157
V158
V159
V160
V161
V162
V163
V164
V165
V166
V167
V168
V169
V170
V171
V172
V173
V174
V175
V176
V177
V178
V179
V180
V181
V182
V183
V184
V185
V186
V187
V188
V189
V190
V191
V192
V193
V194
V195
V196
V197
V198
V199
V200
V201
V202
V203
V204
V205
V206
V207
V208
V209
V210
V211
V212
V213
V214
V215
V216
V217
V218
V219
V220
V221
V222
V223
V224
V225
V226
V227
V228
V229
V230
V231
V232
V233
V234
V235
V236
V237
V238
V239
V240
V241
V242
V243
V244
V245
V246
V247
V248
V249
V250
V251
V252
V253
V254
V255
V256
V257
V258
V259
V260
V261
V262
V263
V264
V265
V266
V267
V268
V269
V270
V271
V272
V273
V274
V275
V276
V277
V278
V279
V280
V281
V282
V283
V284
V285
V286
V287
V288
V289
V290
V291
V292
V293
V294
V295
V296
V297
V298
V299
V300
V301
V302
V303
V304
V305
V306
V307
V308
V309
V310
V311
V312
V313
V314
V315
V316
V317
V318
V319
V320
V321
V322
V323
V324
V325
V326
V327
V328
V329
V330
V331
V332
V333
V334
V335
V336
V337
V338
V339
id-01
id-02
id-03
id-04
id-05
id-06
id-07
id-08
id-09
id-10
id-11
id-12
id-13
id-14
id-15
id-16
id-17
id-18
id-19
id-20
id-21
id-22
id-23
id-24
id-25
id-26
id-27
id-28
id-29
id-30
id-31
id-32
id-33
id-34
id-35
id-36
id-37
id-38
DeviceType
DeviceInfo

# EDA

## Data Overview

In [10]:
print("Shape of train_identity", df_train_id.shape)
print("Shape of test_identity", df_test_id.shape)
print("Shape of train_transaction", df_train_txn.shape)
print("Shape of test_transaction", df_test_txn.shape)

print("\n\nShape of train_full", df_train.shape)
print("Shape of test_full", df_test.shape)

Shape of train_identity (144233, 41)
Shape of test_identity (141907, 41)
Shape of train_transaction (590540, 394)
Shape of test_transaction (506691, 393)


Shape of train_full (590540, 434)
Shape of test_full (506691, 433)

In [11]:
df = df_train

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 434 entries, TransactionID to DeviceInfo
dtypes: float64(399), int64(4), object(31)
memory usage: 1.9+ GB

In [13]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Data columns (total 434 columns):
 #    Column          Non-Null Count   Dtype
---   ------          --------------   -----
 0    TransactionID   590540 non-null  int64
 1    isFraud         590540 non-null  int64
 2    TransactionDT   590540 non-null  int64
 3    TransactionAmt  590540 non-null  float64
 4    ProductCD       590540 non-null  object
 5    card1           590540 non-null  int64
 6    card2           581607 non-null  float64
 7    card3           588975 non-null  float64
 8    card4           588963 non-null  object
 9    card5           586281 non-null  float64
 10   card6           588969 non-null  object
 11   addr1           524834 non-null  float64
 12   addr2           524834 non-null  float64
 13   dist1           238269 non-null  float64
 14   dist2           37627 non-null   float64
 15   P_emaildomain   496084 non-null  object
 16   R_emaildomain   137291 non-null  object
 17   C1              590540 non-null  float64
 18   C2              590540 non-null  float64
 19   C3              590540 non-null  float64
 20   C4              590540 non-null  float64
 21   C5              590540 non-null  float64
 22   C6              590540 non-null  float64
 23   C7              590540 non-null  float64
 24   C8              590540 non-null  float64
 25   C9              590540 non-null  float64
 26   C10             590540 non-null  float64
 27   C11             590540 non-null  float64
 28   C12             590540 non-null  float64
 29   C13             590540 non-null  float64
 30   C14             590540 non-null  float64
 31   D1              589271 non-null  float64
 32   D2              309743 non-null  float64
 33   D3              327662 non-null  float64
 34   D4              421618 non-null  float64
 35   D5              280699 non-null  float64
 36   D6              73187 non-null   float64
 37   D7              38917 non-null   float64
 38   D8              74926 non-null   float64
 39   D9              74926 non-null   float64
 40   D10             514518 non-null  float64
 41   D11             311253 non-null  float64
 42   D12             64717 non-null   float64
 43   D13             61952 non-null   float64
 44   D14             62187 non-null   float64
 45   D15             501427 non-null  float64
 46   M1              319440 non-null  object
 47   M2              319440 non-null  object
 48   M3              319440 non-null  object
 49   M4              309096 non-null  object
 50   M5              240058 non-null  object
 51   M6              421180 non-null  object
 52   M7              244275 non-null  object
 53   M8              244288 non-null  object
 54   M9              244288 non-null  object
 55   V1              311253 non-null  float64
 56   V2              311253 non-null  float64
 57   V3              311253 non-null  float64
 58   V4              311253 non-null  float64
 59   V5              311253 non-null  float64
 60   V6              311253 non-null  float64
 61   V7              311253 non-null  float64
 62   V8              311253 non-null  float64
 63   V9              311253 non-null  float64
 64   V10             311253 non-null  float64
 65   V11             311253 non-null  float64
 66   V12             514467 non-null  float64
 67   V13             514467 non-null  float64
 68   V14             514467 non-null  float64
 69   V15             514467 non-null  float64
 70   V16             514467 non-null  float64
 71   V17             514467 non-null  float64
 72   V18             514467 non-null  float64
 73   V19             514467 non-null  float64
 74   V20             514467 non-null  float64
 75   V21             514467 non-null  float64
 76   V22             514467 non-null  float64
 77   V23             514467 non-null  float64
 78   V24             514467 non-null  float64
 79   V25             514467 non-null  float64
 80   V26             514467 non-null  float64
 81   V27             514467 non-null  float64
 82   V28             514467 non-null  float64
 83   V29             514467 non-null  float64
 84   V30             514467 non-null  float64
 85   V31             514467 non-null  float64
 86   V32             514467 non-null  float64
 87   V33             514467 non-null  float64
 88   V34             514467 non-null  float64
 89   V35             421571 non-null  float64
 90   V36             421571 non-null  float64
 91   V37             421571 non-null  float64
 92   V38             421571 non-null  float64
 93   V39             421571 non-null  float64
 94   V40             421571 non-null  float64
 95   V41             421571 non-null  float64
 96   V42             421571 non-null  float64
 97   V43             421571 non-null  float64
 98   V44             421571 non-null  float64
 99   V45             421571 non-null  float64
 100  V46             421571 non-null  float64
 101  V47             421571 non-null  float64
 102  V48             421571 non-null  float64
 103  V49             421571 non-null  float64
 104  V50             421571 non-null  float64
 105  V51             421571 non-null  float64
 106  V52             421571 non-null  float64
 107  V53             513444 non-null  float64
 108  V54             513444 non-null  float64
 109  V55             513444 non-null  float64
 110  V56             513444 non-null  float64
 111  V57             513444 non-null  float64
 112  V58             513444 non-null  float64
 113  V59             513444 non-null  float64
 114  V60             513444 non-null  float64
 115  V61             513444 non-null  float64
 116  V62             513444 non-null  float64
 117  V63             513444 non-null  float64
 118  V64             513444 non-null  float64
 119  V65             513444 non-null  float64
 120  V66             513444 non-null  float64
 121  V67             513444 non-null  float64
 122  V68             513444 non-null  float64
 123  V69             513444 non-null  float64
 124  V70             513444 non-null  float64
 125  V71             513444 non-null  float64
 126  V72             513444 non-null  float64
 127  V73             513444 non-null  float64
 128  V74             513444 non-null  float64
 129  V75             501376 non-null  float64
 130  V76             501376 non-null  float64
 131  V77             501376 non-null  float64
 132  V78             501376 non-null  float64
 133  V79             501376 non-null  float64
 134  V80             501376 non-null  float64
 135  V81             501376 non-null  float64
 136  V82             501376 non-null  float64
 137  V83             501376 non-null  float64
 138  V84             501376 non-null  float64
 139  V85             501376 non-null  float64
 140  V86             501376 non-null  float64
 141  V87             501376 non-null  float64
 142  V88             501376 non-null  float64
 143  V89             501376 non-null  float64
 144  V90             501376 non-null  float64
 145  V91             501376 non-null  float64
 146  V92             501376 non-null  float64
 147  V93             501376 non-null  float64
 148  V94             501376 non-null  float64
 149  V95             590226 non-null  float64
 150  V96             590226 non-null  float64
 151  V97             590226 non-null  float64
 152  V98             590226 non-null  float64
 153  V99             590226 non-null  float64
 154  V100            590226 non-null  float64
 155  V101            590226 non-null  float64
 156  V102            590226 non-null  float64
 157  V103            590226 non-null  float64
 158  V104            590226 non-null  float64
 159  V105            590226 non-null  float64
 160  V106            590226 non-null  float64
 161  V107            590226 non-null  float64
 162  V108            590226 non-null  float64
 163  V109            590226 non-null  float64
 164  V110            590226 non-null  float64
 165  V111            590226 non-null  float64
 166  V112            590226 non-null  float64
 167  V113            590226 non-null  float64
 168  V114            590226 non-null  float64
 169  V115            590226 non-null  float64
 170  V116            590226 non-null  float64
 171  V117            590226 non-null  float64
 172  V118            590226 non-null  float64
 173  V119            590226 non-null  float64
 174  V120            590226 non-null  float64
 175  V121            590226 non-null  float64
 176  V122            590226 non-null  float64
 177  V123            590226 non-null  float64
 178  V124            590226 non-null  float64
 179  V125            590226 non-null  float64
 180  V126            590226 non-null  float64
 181  V127            590226 non-null  float64
 182  V128            590226 non-null  float64
 183  V129            590226 non-null  float64
 184  V130            590226 non-null  float64
 185  V131            590226 non-null  float64
 186  V132            590226 non-null  float64
 187  V133            590226 non-null  float64
 188  V134            590226 non-null  float64
 189  V135            590226 non-null  float64
 190  V136            590226 non-null  float64
 191  V137            590226 non-null  float64
 192  V138            81945 non-null   float64
 193  V139            81945 non-null   float64
 194  V140            81945 non-null   float64
 195  V141            81945 non-null   float64
 196  V142            81945 non-null   float64
 197  V143            81951 non-null   float64
 198  V144            81951 non-null   float64
 199  V145            81951 non-null   float64
 200  V146            81945 non-null   float64
 201  V147            81945 non-null   float64
 202  V148            81945 non-null   float64
 203  V149            81945 non-null   float64
 204  V150            81951 non-null   float64
 205  V151            81951 non-null   float64
 206  V152            81951 non-null   float64
 207  V153            81945 non-null   float64
 208  V154            81945 non-null   float64
 209  V155            81945 non-null   float64
 210  V156            81945 non-null   float64
 211  V157            81945 non-null   float64
 212  V158            81945 non-null   float64
 213  V159            81951 non-null   float64
 214  V160            81951 non-null   float64
 215  V161            81945 non-null   float64
 216  V162            81945 non-null   float64
 217  V163            81945 non-null   float64
 218  V164            81951 non-null   float64
 219  V165            81951 non-null   float64
 220  V166            81951 non-null   float64
 221  V167            139631 non-null  float64
 222  V168            139631 non-null  float64
 223  V169            139819 non-null  float64
 224  V170            139819 non-null  float64
 225  V171            139819 non-null  float64
 226  V172            139631 non-null  float64
 227  V173            139631 non-null  float64
 228  V174            139819 non-null  float64
 229  V175            139819 non-null  float64
 230  V176            139631 non-null  float64
 231  V177            139631 non-null  float64
 232  V178            139631 non-null  float64
 233  V179            139631 non-null  float64
 234  V180            139819 non-null  float64
 235  V181            139631 non-null  float64
 236  V182            139631 non-null  float64
 237  V183            139631 non-null  float64
 238  V184            139819 non-null  float64
 239  V185            139819 non-null  float64
 240  V186            139631 non-null  float64
 241  V187            139631 non-null  float64
 242  V188            139819 non-null  float64
 243  V189            139819 non-null  float64
 244  V190            139631 non-null  float64
 245  V191            139631 non-null  float64
 246  V192            139631 non-null  float64
 247  V193            139631 non-null  float64
 248  V194            139819 non-null  float64
 249  V195            139819 non-null  float64
 250  V196            139631 non-null  float64
 251  V197            139819 non-null  float64
 252  V198            139819 non-null  float64
 253  V199            139631 non-null  float64
 254  V200            139819 non-null  float64
 255  V201            139819 non-null  float64
 256  V202            139631 non-null  float64
 257  V203            139631 non-null  float64
 258  V204            139631 non-null  float64
 259  V205            139631 non-null  float64
 260  V206            139631 non-null  float64
 261  V207            139631 non-null  float64
 262  V208            139819 non-null  float64
 263  V209            139819 non-null  float64
 264  V210            139819 non-null  float64
 265  V211            139631 non-null  float64
 266  V212            139631 non-null  float64
 267  V213            139631 non-null  float64
 268  V214            139631 non-null  float64
 269  V215            139631 non-null  float64
 270  V216            139631 non-null  float64
 271  V217            130430 non-null  float64
 272  V218            130430 non-null  float64
 273  V219            130430 non-null  float64
 274  V220            141416 non-null  float64
 275  V221            141416 non-null  float64
 276  V222            141416 non-null  float64
 277  V223            130430 non-null  float64
 278  V224            130430 non-null  float64
 279  V225            130430 non-null  float64
 280  V226            130430 non-null  float64
 281  V227            141416 non-null  float64
 282  V228            130430 non-null  float64
 283  V229            130430 non-null  float64
 284  V230            130430 non-null  float64
 285  V231            130430 non-null  float64
 286  V232            130430 non-null  float64
 287  V233            130430 non-null  float64
 288  V234            141416 non-null  float64
 289  V235            130430 non-null  float64
 290  V236            130430 non-null  float64
 291  V237            130430 non-null  float64
 292  V238            141416 non-null  float64
 293  V239            141416 non-null  float64
 294  V240            130430 non-null  float64
 295  V241            130430 non-null  float64
 296  V242            130430 non-null  float64
 297  V243            130430 non-null  float64
 298  V244            130430 non-null  float64
 299  V245            141416 non-null  float64
 300  V246            130430 non-null  float64
 301  V247            130430 non-null  float64
 302  V248            130430 non-null  float64
 303  V249            130430 non-null  float64
 304  V250            141416 non-null  float64
 305  V251            141416 non-null  float64
 306  V252            130430 non-null  float64
 307  V253            130430 non-null  float64
 308  V254            130430 non-null  float64
 309  V255            141416 non-null  float64
 310  V256            141416 non-null  float64
 311  V257            130430 non-null  float64
 312  V258            130430 non-null  float64
 313  V259            141416 non-null  float64
 314  V260            130430 non-null  float64
 315  V261            130430 non-null  float64
 316  V262            130430 non-null  float64
 317  V263            130430 non-null  float64
 318  V264            130430 non-null  float64
 319  V265            130430 non-null  float64
 320  V266            130430 non-null  float64
 321  V267            130430 non-null  float64
 322  V268            130430 non-null  float64
 323  V269            130430 non-null  float64
 324  V270            141416 non-null  float64
 325  V271            141416 non-null  float64
 326  V272            141416 non-null  float64
 327  V273            130430 non-null  float64
 328  V274            130430 non-null  float64
 329  V275            130430 non-null  float64
 330  V276            130430 non-null  float64
 331  V277            130430 non-null  float64
 332  V278            130430 non-null  float64
 333  V279            590528 non-null  float64
 334  V280            590528 non-null  float64
 335  V281            589271 non-null  float64
 336  V282            589271 non-null  float64
 337  V283            589271 non-null  float64
 338  V284            590528 non-null  float64
 339  V285            590528 non-null  float64
 340  V286            590528 non-null  float64
 341  V287            590528 non-null  float64
 342  V288            589271 non-null  float64
 343  V289            589271 non-null  float64
 344  V290            590528 non-null  float64
 345  V291            590528 non-null  float64
 346  V292            590528 non-null  float64
 347  V293            590528 non-null  float64
 348  V294            590528 non-null  float64
 349  V295            590528 non-null  float64
 350  V296            589271 non-null  float64
 351  V297            590528 non-null  float64
 352  V298            590528 non-null  float64
 353  V299            590528 non-null  float64
 354  V300            589271 non-null  float64
 355  V301            589271 non-null  float64
 356  V302            590528 non-null  float64
 357  V303            590528 non-null  float64
 358  V304            590528 non-null  float64
 359  V305            590528 non-null  float64
 360  V306            590528 non-null  float64
 361  V307            590528 non-null  float64
 362  V308            590528 non-null  float64
 363  V309            590528 non-null  float64
 364  V310            590528 non-null  float64
 365  V311            590528 non-null  float64
 366  V312            590528 non-null  float64
 367  V313            589271 non-null  float64
 368  V314            589271 non-null  float64
 369  V315            589271 non-null  float64
 370  V316            590528 non-null  float64
 371  V317            590528 non-null  float64
 372  V318            590528 non-null  float64
 373  V319            590528 non-null  float64
 374  V320            590528 non-null  float64
 375  V321            590528 non-null  float64
 376  V322            82351 non-null   float64
 377  V323            82351 non-null   float64
 378  V324            82351 non-null   float64
 379  V325            82351 non-null   float64
 380  V326            82351 non-null   float64
 381  V327            82351 non-null   float64
 382  V328            82351 non-null   float64
 383  V329            82351 non-null   float64
 384  V330            82351 non-null   float64
 385  V331            82351 non-null   float64
 386  V332            82351 non-null   float64
 387  V333            82351 non-null   float64
 388  V334            82351 non-null   float64
 389  V335            82351 non-null   float64
 390  V336            82351 non-null   float64
 391  V337            82351 non-null   float64
 392  V338            82351 non-null   float64
 393  V339            82351 non-null   float64
 394  id_01           144233 non-null  float64
 395  id_02           140872 non-null  float64
 396  id_03           66324 non-null   float64
 397  id_04           66324 non-null   float64
 398  id_05           136865 non-null  float64
 399  id_06           136865 non-null  float64
 400  id_07           5155 non-null    float64
 401  id_08           5155 non-null    float64
 402  id_09           74926 non-null   float64
 403  id_10           74926 non-null   float64
 404  id_11           140978 non-null  float64
 405  id_12           144233 non-null  object
 406  id_13           127320 non-null  float64
 407  id_14           80044 non-null   float64
 408  id_15           140985 non-null  object
 409  id_16           129340 non-null  object
 410  id_17           139369 non-null  float64
 411  id_18           45113 non-null   float64
 412  id_19           139318 non-null  float64
 413  id_20           139261 non-null  float64
 414  id_21           5159 non-null    float64
 415  id_22           5169 non-null    float64
 416  id_23           5169 non-null    object
 417  id_24           4747 non-null    float64
 418  id_25           5132 non-null    float64
 419  id_26           5163 non-null    float64
 420  id_27           5169 non-null    object

In [14]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
TransactionID,590540.0,3.282270e+06,1.704744e+05,2987000.000,3134634.750,3282269.500,3429904.25,3.577539e+06
isFraud,590540.0,3.499001e-02,1.837546e-01,0.000,0.000,0.000,0.00,1.000000e+00
TransactionDT,590540.0,7.372311e+06,4.617224e+06,86400.000,3027057.750,7306527.500,11246620.00,1.581113e+07
TransactionAmt,590540.0,1.350272e+02,2.391625e+02,0.251,43.321,68.769,125.00,3.193739e+04
card1,590540.0,9.898735e+03,4.901170e+03,1000.000,6019.000,9678.000,14184.00,1.839600e+04
...,...,...,...,...,...,...,...,...
id_22,5169.0,1.600271e+01,6.897665e+00,10.000,14.000,14.000,14.00,4.400000e+01
id_24,4747.0,1.280093e+01,2.372447e+00,11.000,11.000,11.000,15.00,2.600000e+01
id_25,5132.0,3.296089e+02,9.746109e+01,100.000,321.000,321.000,371.00,5.480000e+02
id_26,5163.0,1.490703e+02,3.210199e+01,100.000,119.000,149.000,169.00,2.160000e+02
id_32,77586.0,2.650860e+01,3.737502e+00,0.000,24.000,24.000,32.00,3.200000e+01

In [15]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
TransactionID,590540.0,NaN,NaN,NaN,3282269.5,170474.35832,2987000.0,3134634.75,3282269.5,3429904.25,3577539.0
isFraud,590540.0,NaN,NaN,NaN,0.03499,0.183755,0.0,0.0,0.0,0.0,1.0
TransactionDT,590540.0,NaN,NaN,NaN,7372311.310116,4617223.64654,86400.0,3027057.75,7306527.5,11246620.0,15811131.0
TransactionAmt,590540.0,NaN,NaN,NaN,135.027176,239.162522,0.251,43.321,68.769,125.0,31937.391
ProductCD,590540,5,W,439670,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
id_36,140985,2,F,134066,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_37,140985,2,T,110452,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id_38,140985,2,F,73922,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DeviceType,140810,2,desktop,85165,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DeviceInfo,118666,1786,Windows,47722,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.isnull().sum()

TransactionID          0
isFraud                0
TransactionDT          0
TransactionAmt         0
ProductCD              0
                   ...
id_36             449555
id_37             449555
id_38             449555
DeviceType        449730
DeviceInfo        471874
Length: 434, dtype: int64